
<h1>Add a New Director</h1>

<form action="/directors/create" class='col-sm-5'>

  <p class="form-group">Name: <input class="form-control" type="text" name="name" placeholder="Enter a name..."></p>
  <p class="form-group">Headshot URL: <input class="form-control" type="text" name="headshot_url" placeholder="Enter a headshot..."></p>

  <button class="btn btn-primary">Submit</button>

</form>
